@model SynNetTest.Models.HomeModel
@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="text-center"
    <h2>The current directory: @Model.directory</h2>
    <h3>@Model.Load()</h3>

    @using (Html.BeginForm("Index", "Home", FormMethod.Post))
    {
        <table cellpadding="0" cellspacing="0">
            <tr>
                <th colspan="2" align="center">Word Details</th>
            </tr>
            <tr>
                <td>Enter Word: </td>
                <td>
                    @Html.TextBoxFor(m => m.word)
                </td>
            </tr>
            <tr>
                <td></td>
                <td><input type="submit" value="Submit" /></td>
            </tr>
        </table>
          <h4>The word entered: @Model.word</h4>
    }
  
</div>
